#{extends "modeldiagram/ModelDiagram/main.html" /}
#{set title:'Home' /}



<!-- <pre> -->
<!-- ${json} -->
<!-- </pre> -->

<body>
<div id="settings" style="display: none">
    <div id="Canvas" class="Canvas">
    </div>
</div>
	<button id="buttonSettings" style="">Settings</button>


<div id="holder"></div>


</body>

<script>
 	var myModels = ${json.raw()};
	drawModels(myModels,true);
//	alert(myModels.User.members.events.association.type);
// 	$.each(myModels, function(index, item) {
// 		alert(item.name + " " + item.tableName);
// 		item.custom = "abuzer";
// 		$.each(item.members, function(index, member) {
// 			alert(member.name + " " + member.type);
// 		});
// 		alert(item.custom);
// 	});
var $settings = $('#settings');
    $( '#buttonSettings' )
    	.on('click', function(e) {
            $settings.slideToggle('normal');
            e.preventDefault();
        })
        .button({
                text: false,
                icons: {
                    primary: "ui-icon-triangle-1-s"
                }
            })
        ;

        $( "#refresh" )
        .button({
            icons: {
                primary: "ui-icon-arrowrefresh-1-e"
            },
            text: false
        })
</script>
