#{extends "ModelDiagram/main.html" /}
#{set title:'Home' /}



<!-- <pre> -->
<!-- ${json} -->
<!-- </pre> -->

<script>
	var myModels = ${json.raw()};
	drawModels(myModels);
// 	//alert(myModels.User.members.events.association.type);
// 	$.each(myModels, function(index, item) {
// 		alert(item.name + " " + item.tableName);
// 		item.custom = "abuzer";
// 		$.each(item.members, function(index, member) {
// 			alert(member.name + " " + member.type);
// 		});
// 		alert(item.custom);
// 	});
</script>
